@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-hubot: 'Hubot Sans';
}

:root {
	--toastify-font-family: var(--font-hubot);
	--toastify-color-success: #006103;
	--toastify-color-error: #7d0000;
	--toastify-color-info: #00416c;
}
